body {
  margin: 0;
}

input {
  padding-bottom: 9px;
  padding-left: 8px;
  outline: none;
}

button {
  outline: none;
}

.failed {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  height: 10px;
}

.window {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: #ffffff;
}

.window .logo {
  margin-top: 40px;
}

.window .login {
  width: 40%;
  height: 35px;
  border-bottom-width: 1px;
  border-color: #C4C4C4;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 32px;
  line-height: 42px;
  color: black;
  margin-top: 80px;
}

.window .login:focus {
  border-color: #FF6565;
}

.window .password {
  width: 40%;
  height: 35px;
  border-bottom-width: 1px;
  border-color: #C4C4C4;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 32px;
  line-height: 42px;
  color: black;
  margin-top: 40px;
}

.window .password:focus {
  border-color: #79C7FF;
}

.window .buttons .signup_btn {
  background: #C5C5C5;
  margin-right: 15px;
  margin-top: 80px;
  width: 107px;
  height: 51px;
  border: 0;
  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.window .buttons .signup_btn:hover {
  box-shadow: 0px 0px 8px #C5C5C5;
}

.window .buttons .login_btn {
  background: #79C7FF;
  margin-top: 80px;
  width: 107px;
  height: 51px;
  border: 0;
  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.window .buttons .login_btn:hover {
  box-shadow: 0px 0px 8px #79C7FF;
}

.window_dark {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: #000000;
}

.window_dark .logo {
  margin-top: 40px;
}

.window_dark .login {
  width: 40%;
  height: 35px;
  border-bottom-width: 1px;
  border-color: #C4C4C4;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 32px;
  line-height: 42px;
  color: white;
  margin-top: 80px;
  border-color: #3E3E3E !important;
  background-color: #000000;
}

.window_dark .login:focus {
  border-color: #FF6565 !important;
}

.window_dark .password {
  width: 40%;
  height: 35px;
  border-bottom-width: 1px;
  border-color: #C4C4C4;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 32px;
  line-height: 42px;
  color: white;
  margin-top: 40px;
  border-color: #3E3E3E !important;
  background-color: #000000;
}

.window_dark .password:focus {
  border-color: #79C7FF !important;
}

.window_dark .buttons .signup_btn {
  margin-top: 80px;
  width: 107px;
  height: 51px;
  border: 0;
  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background: #3E3E3E;
  margin-right: 15px;
}

.window_dark .buttons .signup_btn:hover {
  box-shadow: 0px 0px 8px #3E3E3E;
}

.window_dark .buttons .login_btn {
  margin-top: 80px;
  width: 107px;
  height: 51px;
  border: 0;
  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background: #FF6565;
}

.window_dark .buttons .login_btn:hover {
  box-shadow: 0px 0px 8px #FF6565;
}
