@mixin selectedForm($color)
  display: flex
  align-items: center
  height: 44px
  width: 90%
  background: $color
  border-radius: 10px
@mixin notSelectedForm
  height: 44px
  width: 80%
  display: flex
  align-items: center
@mixin projectsText
  font-family: Roboto
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 28px
  user-select: none
ul
  margin: 0
  padding: 0
li 
  list-style: none
input
  padding: 0

.wrapper
  display: flex
  .projectsWrapper
    overflow: scroll
    width: 21.7013889%
    border-right: 0.5px solid #C4C4C4
    height: 100vh
    .projectsContainer
      height: 100vh
      display: grid
      margin-left: 21px
      margin-top: 10px
      .projects
        @include projectsText
        color: #363636
        .project
          margin-bottom: 7px
          cursor: pointer
      .addButtonWrapper
        display: flex
        justify-content: center
        .addButton
          cursor: pointer
          display: block
  .todosWrapper
    display: flex
    justify-content: center
    height: 100vh
    width: 50.3472222%
    border-right: 0.5px solid #C4C4C4
    .todosContainer
      width: 95.5517241%
      height: 100vh
  .selectedProject
    margin-left: 5px
  .notSelectedForm
    @include notSelectedForm
  .selectedForm
    @include selectedForm($color: #F1F1F1)
  .notSelectedProject
    margin-left: 5px
    .contextMenu
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  .projectInput
    height: 44px
    width: 80%
    @include projectsText
    color: #363636
    border-bottom-width: 1px
    border-left-width: 0px 
    border-right-width: 0px
    border-top-width: 0px

.wrapperDark
  display: flex
  background-color: #000000
  .projectsWrapper
    overflow: scroll
    width: 21.7013889%
    border-right: 0.5px solid #545454
    height: 100vh
    .projectsContainer
      height: 100vh
      display: flex
      flex-direction: column
      align-content: space-between
      margin-left: 21px
      margin-top: 10px
      .projects
        @include projectsText
        color: #ffffff
        cursor: pointer
        .project
          margin-bottom: 7px
      .addButtonWrapper
        display: flex
        justify-content: center
        .addButton
          cursor: pointer
          display: block
  .todosWrapper
    display: flex
    justify-content: center
    height: 100vh
    width: 50.3472222%
    border-right: 0.5px solid #545454
    .todosContainer
      width: 95.5517241%
      height: 100vh
  .selectedProject
    margin-left: 5px
  .notSelectedForm
    @include notSelectedForm
  .selectedForm
    @include selectedForm($color: #1F1F1F)
  .notSelectedProject
    margin-left: 5px
    .contextMenu
      text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.50)