ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  padding: 0;
}

.wrapper {
  display: flex;
}

.wrapper .projectsWrapper {
  overflow: scroll;
  width: 21.7013889%;
  border-right: 0.5px solid #C4C4C4;
  height: 100vh;
}

.wrapper .projectsWrapper .projectsContainer {
  height: 100vh;
  display: grid;
  margin-left: 21px;
  margin-top: 10px;
}

.wrapper .projectsWrapper .projectsContainer .projects {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  user-select: none;
  color: #363636;
}

.wrapper .projectsWrapper .projectsContainer .projects .project {
  margin-bottom: 7px;
  cursor: pointer;
}

.wrapper .projectsWrapper .projectsContainer .addButtonWrapper {
  display: flex;
  justify-content: center;
}

.wrapper .projectsWrapper .projectsContainer .addButtonWrapper .addButton {
  cursor: pointer;
  display: block;
}

.wrapper .todosWrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 50.3472222%;
  border-right: 0.5px solid #C4C4C4;
}

.wrapper .todosWrapper .todosContainer {
  width: 95.5517241%;
  height: 100vh;
}

.wrapper .selectedProject {
  margin-left: 5px;
}

.wrapper .notSelectedForm {
  height: 44px;
  width: 80%;
  display: flex;
  align-items: center;
}

.wrapper .selectedForm {
  display: flex;
  align-items: center;
  height: 44px;
  width: 90%;
  background: #F1F1F1;
  border-radius: 10px;
}

.wrapper .notSelectedProject {
  margin-left: 5px;
}

.wrapper .notSelectedProject .contextMenu {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper .projectInput {
  height: 44px;
  width: 80%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  user-select: none;
  color: #363636;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.wrapperDark {
  display: flex;
  background-color: #000000;
}

.wrapperDark .projectsWrapper {
  overflow: scroll;
  width: 21.7013889%;
  border-right: 0.5px solid #545454;
  height: 100vh;
}

.wrapperDark .projectsWrapper .projectsContainer {
  height: 100vh;
  display: grid;
  margin-left: 21px;
  margin-top: 10px;
}

.wrapperDark .projectsWrapper .projectsContainer .projects {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  user-select: none;
  color: #ffffff;
  cursor: pointer;
}

.wrapperDark .projectsWrapper .projectsContainer .projects .project {
  margin-bottom: 7px;
}

.wrapperDark .projectsWrapper .projectsContainer .addButtonWrapper {
  display: flex;
  justify-content: center;
}

.wrapperDark .projectsWrapper .projectsContainer .addButtonWrapper .addButton {
  cursor: pointer;
  display: block;
}

.wrapperDark .todosWrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 50.3472222%;
  border-right: 0.5px solid #545454;
}

.wrapperDark .todosWrapper .todosContainer {
  width: 95.5517241%;
  height: 100vh;
}

.wrapperDark .selectedProject {
  margin-left: 5px;
}

.wrapperDark .notSelectedForm {
  height: 44px;
  width: 80%;
  display: flex;
  align-items: center;
}

.wrapperDark .selectedForm {
  display: flex;
  align-items: center;
  height: 44px;
  width: 90%;
  background: #1F1F1F;
  border-radius: 10px;
}

.wrapperDark .notSelectedProject {
  margin-left: 5px;
}

.wrapperDark .notSelectedProject .contextMenu {
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}

.wrapperDark .projectInput {
  height: 44px;
  width: 80%;
  background-color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  user-select: none;
  color: #ffffff;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
