.light .title {
  font-family: Roboto;
  font-style: normal;
  color: #363636;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.light .todos {
  font-family: Roboto;
  font-style: normal;
  color: #363636;
  font-size: 18px;
  font-weight: regular;
  margin-top: 18.5px;
}

.dark .title {
  font-family: Roboto;
  font-style: normal;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.dark .todos {
  font-family: Roboto;
  font-style: normal;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: regular;
  margin-top: 18.5px;
}
