.todo {
  display: flex;
  align-content: center;
  margin-top: 6px;
}

.todo .name {
  margin-left: 10px;
}

.completed {
  border-radius: 100%;
  width: 18px;
  height: 18px;
  align-self: center;
  background-color: #257CFF;
}

.inProgress {
  border-radius: 100%;
  width: 18px;
  height: 18px;
  align-self: center;
  border: 1px solid #257CFF;
}

.notStarted {
  border-radius: 100%;
  width: 18px;
  height: 18px;
  align-self: center;
  background-color: #545454;
}
